
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600&display=swap');
#root {
width: 100%;
min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
font-family: "DM sans", sans-serif;
font-optical-sizing: auto;
font-style: normal;
line-height: 1.4;
background-color: #ffffff;
}
.auth-wrapper{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../assets/img/bg.png') no-repeat center center / cover;
}

